@model MailChimp.Net.Models.List
@{
    ViewBag.Title = "Updated List";
}

<h2>Updated List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Contact.Company</td>
            <td>@Model.Contact.Company</td>
        </tr>
        <tr>
            <td>Contact.Address1</td>
            <td>@Model.Contact.Address1</td>
        </tr>
        <tr>
            <td>Contact.City</td>
            <td>@Model.Contact.City</td>
        </tr>
        <tr>
            <td>Contact.State</td>
            <td>@Model.Contact.State</td>
        </tr>
        <tr>
            <td>Contact.Zip</td>
            <td>@Model.Contact.Zip</td>
        </tr>
        <tr>
            <td>PermissionReminder</td>
            <td>@Model.PermissionReminder</td>
        </tr>
        <tr>
            <td>CampaignDefaults.FromEmail</td>
            <td>@Model.CampaignDefaults.FromEmail</td>
        </tr>
        <tr>
            <td>CampaignDefaults.FromName</td>
            <td>@Model.CampaignDefaults.FromName</td>
        </tr>
        <tr>
            <td>CampaignDefaults.Subject</td>
            <td>@Model.CampaignDefaults.Subject</td>
        </tr>
        <tr>
            <td>CampaignDefaults.Language</td>
            <td>@Model.CampaignDefaults.Language</td>
        </tr>
        <tr>
            <td>EmailTypeOption</td>
            <td>@Model.EmailTypeOption</td>
        </tr>
    </tbody>
</table>