@model IEnumerable<MailChimp.Net.Models.Campaign>
@{
    ViewBag.Title = $"Campaigns for list ID {ViewBag.ListId}";
}

<h2>Campaigns for List ID @ViewBag.ListId</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Emails Sent</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var campaign in Model)
        {
            <tr>
                <td>@campaign.Id</td>
                <td>@campaign.Settings.Title</td>
                <td>@campaign.EmailsSent</td>
                <td><a href="@campaign.ArchiveUrl" target="_viewCampaign">View &raquo;</a></td>
            </tr>
        }
    </tbody>
</table>